* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
}
body {
  height: 100vh;
}

p {
  color: #333333;
}
button:focus,
input:focus {
  outline: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
}
.l-button {
  color: #fff;
  background-color: #f08946;
  border: none;
}

/* TOP BANNER START */
.top-banner {
  width: 100%;
  background-color: #2a2a2a;
}
.left-part {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
}
.right-part {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
}
.l-button.trending {
  padding: 7px 8px;
  color: #f9f9f9;
  font-size: 14px;
  font-weight: 700;
}
.left-part .arrow-box {
  height: 15px;
  margin: 0 14px;
}
.left-part .arrow-box img {
  width: 9px;
  height: 15px;
  cursor: pointer;
}
.left-part p {
  color: #f7f7f7;
  font-size: 14px;
  font-weight: 400;
}
.language-button {
  height: 20px;
  background-image: url("../images/svg/uk.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  color: #f7f7f7;
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  padding-left: 27px;
  margin-right: 54px;
}
ul.social-networks {
  list-style-type: none;
}
ul.social-networks li {
  display: inline-block;
}
/* TOP BANNER END */

/* HEADER TOP START */
.header-top {
  padding: 15.5px 0;
}
/* HEADER TOP END */

/* HEADER START */
.header {
  width: 100%;
  background-color: #2a2a2a;
}
.nav-header {
  display: none;
}
#header-id .nav-links {
  list-style-type: none;
}
#header-id .nav-links li {
  display: inline-block;
  padding: 14px 10px;
  position: relative;
  border-bottom: 3px solid transparent;
}
#header-id .nav-links li a {
  display: inline-block;
  color: #f7f7f7;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#header-id .nav-links li:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -3px;
  width: 0;
  height: 3px;
  background: #f08946;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#header-id .nav-links li:hover:after {
  width: 100%;
}
#header-id .nav-links li:hover a {
  color: #f08946;
}
#header-id .nav-links li.active {
  border-color: #f08946;
}
#header-id .nav-links li.active:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  background: #f08946;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#header-id .nav-links li.active a {
  color: #f08946;
}
#header-id #nav-check {
  display: none;
}

#search {
  width: 59px;
  height: 50px;
  background-color: #f08946;
  border: none;
  float: right;
  background-image: url("../images/png/search.png");
  background-repeat: no-repeat;
  background-position: center;
}
/* HEADER END */
/* Mobile-First Header
-------------------------------------------------------------- */
header {
  width: 100%;
  margin-top: 20px;
}

header nav {
  display: none;
  color: #ffffff;
}

/* Mobile nav menu --hamburger menu
------------------------------------------------------- */
.button-container:before {
  position: absolute;
  content: "";
  top: -10px;
  right: -15px;
  left: -15px;
  bottom: -10px;
  cursor: pointer;
}

.button-container {
  position: absolute;
  top: 44.5px;
  right: 8%;
  cursor: pointer;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  width: 20px;
  height: 20px;
  display: inline-block;
}
.btn-close-overlay {
  background-image: url("../images/svg/close-overlay.png");
  background-size: 19px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  width: 19px;
  height: 19px;
  position: absolute;
  top: 10px;
  right: 72%;
  cursor: pointer;
}
.button-container span {
  background-color: #f08946;
  border: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  cursor: pointer;
}
.button-container span:nth-of-type(2) {
  left: 16px;
}
.button-container span:nth-of-type(3) {
  left: 34px;
}

/* Mobile nav menu --fullscreen overlay menu
------------------------------------------------------- */

#overlay {
  -webkit-backface-visibility: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  transition: opacity 5s, visibility 0.35s, height 0.35s;
  overflow: hidden;
}
.overlay.open {
  -webkit-backface-visibility: hidden;
  opacity: 1;
  transition: opacity 0.5s;
  visibility: visible;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.6);
  transition: background 0.35s ease;
  z-index: 5555;
}

.overlay nav {
  position: absolute;
  padding: 10px 25px;
  right: 0;
  height: 100%;
  width: 400px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
}
.header-search-box input::placeholder {
  color: #d0d0d0;
  font-style: italic;
  font-size: 16px;
  opacity: 1; /* Firefox */
}

.header-search-box input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #d0d0d0;
  font-style: italic;
  font-size: 16px;
}

.header-search-box input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #d0d0d0;
  font-style: italic;
  font-size: 16px;
}
.overlay ul {
  list-style: none;
  display: inline-block;
  position: relative;
  width: 100%;
  text-align: right;
  margin-top: 26px;
}
.overlay ul li a {
  display: block;
  position: relative;

  text-decoration: none;
  color: #333333;
  font-size: 18px;
  font-weight: 400;
}
.overlay ul li {
  border-bottom: 1px solid #d0d0d0;
  padding: 9px 0;
}
.lng-icon {
  width: 25px;
  width: 25px;
  top: 6px;
  position: relative;
  left: -7px;
}

@media (min-width: 950px) {
  .button-container {
    display: none;
  }

  header {
    position: relative;
    background-color: transparent;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
  }

  header nav {
    display: inline-block;
    float: right;
  }
}

.hide {
  max-height: 0 !important;
}
.dropdown {
  position: relative;
}
.open-dropdown {
  width: 15px;
  position: absolute;
  left: 2px;
  top: 5px;
}
.dropdown .menu {
  transition: max-height 0.5s ease-out;
  max-height: 320px;
  overflow: hidden;
  position: relative;
}

.rotate-180 {
  transform: rotate(180deg);
  width: 15px;
  position: absolute;
  left: 2px;
  top: 13px;
}
.title.pointer-cursor {
  cursor: pointer;
}
.pointer-cursor .option a {
  color: #aaaaaa;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 15px;
  text-decoration: none;
}

#option1 {
  border-top: 1px solid #d0d0d0;
  margin-top: 9px;
}
.pointer-cursor .option:last-child a {
  padding-bottom: 6px;
}
.overlay-menu .social-networks {
  position: absolute;
  z-index: 5555;
  bottom: 30px;
  right: 25px;
}
.overlay-menu .social-networks li {
  background-color: #777777;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* MEDIA POST START */
.main-content {
  position: relative;
}
.left-side-image {
  position: absolute;
  top: 247px;
}
.section.post-media-section {
  padding-top: 20px;
}
.post-media {
  width: 100%;
  height: 456px;
  overflow: hidden;
  position: relative;
}
.post-media-content {
  padding-right: 2px;
}
.post-media-image {
  width: 100%;
  height: 100%;
}
.post-media-image.width-auto {
  width: auto;
  height: auto;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(1%, transparent),
    to(rgba(0, 0, 0, 0.78))
  );
  background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 1%,
    rgba(0, 0, 0, 0.78) 100%
  );
  z-index: 5;
  top: 0;
}

.top-part-post-media,
.bottom-part-post-media {
  display: -webkit-box;
  display: flex;
  padding-left: 3px;
}
.bottom-part-post-media {
  margin-top: 4px;
}
.post-media-small {
  width: 100%;
  overflow: hidden;
  position: relative;
  max-height: 226px;
}
.post-media-small:first-child,
.bottom-part-post-media:first-child {
  margin-right: 5px;
}
.post-media-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 17px 14px;
  z-index: 55;
}
.badge {
  background-color: #5c629e;
  color: #f7f7f7;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  padding: 2.5px 6.5px;
}
.badge.event-media {
  width: 124px;
  height: 19px;
  background-color: #5c629e;
  color: #f7f7f7;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
a.news-link {
  display: block;
  color: #f7f7f7;
  font-size: 24px;
  font-weight: 700;
  padding-right: 141px;
  text-decoration: none;
  line-height: 29.41px;
  margin-top: 10px;
  margin-bottom: 16px;
}
.author span,
.time span {
  color: #aaaaaa;
  font-size: 12px;
  font-weight: 400;
}
.author,
.time {
  display: inline-block;
}
.time {
  margin-left: 10px;
}
.post-media-small a.news-link {
  margin: 6px 0;
  padding: 0;
  font-size: 18px;
  line-height: 25.4px;
}
/* MEDIA POST END */
/* SECTION CONTENT START */
.section.section-content {
  margin-top: 47px;
}
.left-side {
  width: 820px;
}
.right-side {
  width: calc(100% - 820px);
  padding-left: 32px;
}
.guides-container-header,
.popular-casinos-header,
.popular-games-header,
.events-and-reports-header,
.lifestyle-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}
.guides-container-header .title h4,
.popular-casinos-header .title h4,
.popular-games-header .title h4,
.events-and-reports-header .title h4,
.lifestyle-header .title h4 {
  color: #333333;
  font-size: 28px;
  font-weight: 500;
}
.arrow-back {
  padding-right: 6px;
}
.arrow-next {
  padding-left: 6px;
}
.guides-container-content,
.events-and-report-content,
.lifestyle-content {
  margin-top: 19px;
}
.guides-items {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 22px;
}
.guides-item {
  border: 1px solid #e5e5e5;
  background-color: #f3f3f3;
  padding-top: 16px;
  max-width: 259px;
}
.guides-item-footer {
  background-color: #f08946;
}
.guides-item-content {
  padding: 0 14px 26px;
  text-align: center;
}
.guides-item-header {
  text-align: center;
}
.guides-item-header h2 {
  font-size: 24px;
  font-weight: 500;
}
.guides-item-content img {
  padding: 22.5px 0;
}
.guides-item-content p {
  font-size: 16px;
  font-weight: 500;
}
.guides-item-footer button {
  width: 100%;
  border: none;
  background-color: transparent;
  color: #f7f7f7;
  font-size: 16px;
  font-weight: 500;
  padding: 7px 0;
}
.guides-item.blackjack-item .guides-item-content {
  padding: 0 6px 26px;
}
.dot-box {
  width: 100%;
  text-align: center;
}
.dot-box .dot {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 100%;
  border: 2px solid #f08946;
}
.dot-box .dot.active {
  background-color: #f26835;
}
.popular-casinos-container,
.popular-games-container,
.events-and-reports-container,
.lifestyle-container {
  margin-top: 60px;
}
.tabs-box {
  position: relative;
}
.tabs-box ul {
  list-style-type: none;
}
.tabs-box ul li {
  display: inline-block;

  padding-right: 17px;
}
.tabs-box ul li a {
  color: #aaaaaa;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}
.tabs-box ul li:last-child {
  padding-right: 0;
}
.tabs-box ul li.active-tabs a {
  color: #5c629e;
}
.popular-casinos-content,
.popular-games-content {
  margin-top: 19px;
  padding: 18px 17px 15px;
  border: 1px solid #e5e5e5;
  background-color: #f3f3f3;
}
.popular-casinos-items,
.popular-games-items {
  display: -webkit-box;
  display: flex;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.popular-casino-item,
.popular-games-item {
  max-width: 320px;
  margin-right: 62px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.popular-casino-item:nth-child(4n + 0),
.popular-games-item:nth-child(4n + 0) {
  margin-right: 0;
}
.popular-casino-item.no-margin-bottom,
.popular-games-item.no-margin-bottom {
  margin-bottom: 0;
}
.popular-casino-item span,
.popular-games-item span {
  font-size: 14px;
  font-weight: 500;
  padding-left: 10px;
  color: #aaaaaa;
}
.popular-games-item span {
  text-align: center;
  width: 92px;
}
.header-box {
  display: -webkit-box;
  display: flex;
}
.header-box .tabs-box ul li:last-child {
  margin-right: 17px;
}
.events-and-report-content .post-media {
  width: 100%;
  height: 299px;
}
.events-and-report-content a.news-link {
  font-size: 18px;
  font-weight: 700;
  line-height: 25.4px;
  padding-right: 0;
  margin-bottom: 5px;
  margin-top: 4px;
}
.event-item {
  display: -webkit-box;
  display: flex;
}
.event-info-link {
  margin-top: 3px;
}
.event-link,
.lifestyle-link {
  color: #2a2a2a;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.4px;
  text-decoration: none;
}
.pr {
  padding-right: 10px;
}
.pl {
  padding-left: 10px;
}
.event-text p,
.lifestyle-text p {
  color: #2a2a2a;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.33px;
}
.lifestyle-image {
  width: 100%;
}
.event-info span {
  color: #aaaaaa;
  font-size: 12px;
  font-weight: 400;
  line-height: 29.41px;
}
.event-item-right-side {
  margin-left: 20px;
}
.event-item {
  margin-top: 20px;
}
.event-item:last-of-type {
  margin-top: 14px;
}
.lifestyle-header {
  position: relative;
}
.l-badge {
  position: absolute;
  top: 15px;
  left: 15px;
}
.lifestyle-text {
  margin-top: 9px;
}
.lifestyle-info {
  margin-top: 5px;
}
.lifestyle-card-content .link-info {
  margin-top: 9px;
}
.lifestyle-card {
  margin-bottom: 18px;
}
/* SECTION CONTENT END */
/* *********************************** */
/* RIGHT SIDE START */
.top-playing-casinos-part,
.live-dealers,
.subscribe,
.casino-jackpots {
  border: 1px solid #e5e5e5;
  margin-bottom: 30px;
}
.part-header {
  background-color: #333333;
  width: 100%;
  padding: 9px 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.part-header h2 {
  color: #f7f7f7;
  font-size: 18px;
  font-weight: 700;
  padding-left: 5px;
}
.part-header img {
  width: 26px;
  height: 17px;
}
.part-content {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 9px 10px 24px;
}
.part-content:last-child {
  border-bottom: 0;
}
.part-content:nth-child(odd) {
  background-color: #f3f3f3;
}
.part-content:nth-child(even) {
  background-color: #efefef;
}
.part-text {
  text-align: center;
}
.part-text img {
  display: inline-block;
}
.part-text span {
  display: block;
  color: #2a2a2a;
  font-size: 14px;
  font-weight: 400;
}
.part-text h3 {
  color: #333333;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.33px;
}
.part-text .read-review,
.part-txt .read-review {
  cursor: pointer;
  color: #f7f7f7;
  font-size: 14px;
  font-weight: 400;
  background-color: #f08946;
  border: 1px solid #f08946;
  padding: 6.5px 7.5px;
}
.part-txt .read-review {
  margin-top: 13px;
}
.part-text .read-review.l-review {
  padding: 9px 7.5px;
  width: 100%;
}
.part-text h4 {
  color: #333333;
  font-size: 14px;
  font-weight: 500;
  margin-top: 9px;
}
.img-wrap {
  max-height: 238px;
}
.img-wrap img {
  width: 100%;
  height: 100%;
}
.subscribe {
  padding: 16px 20px;
  background-color: #f3f3f3;
}
.subscribe-header {
  position: relative;
}
.subscribe img {
  position: absolute;
  left: 40px;
}
.subscribe h6 {
  color: #5c629e;
  font-size: 18px;
  font-weight: 700;
  padding-left: 73px;
}
.subscribe p {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  padding-left: 73px;
  padding-top: 4px;
}
.subscribe form {
  margin-top: 13px;
  text-align: center;
}
.subscribe form input {
  width: 100%;
  border: 1px solid #e1e1e1;
  background-color: #f7f7f7;
  color: #c4c4c4;
  font-size: 16px;
  font-weight: 400;
  padding: 12px 15px;
  margin-bottom: 9px;
}
button.sign-up {
  width: 102px;
  height: 32px;
  background-color: #5c629e;
  border: 1px solid #5c629e;
  color: #f7f7f7;
  font-size: 16px;
  font-weight: 500;
  margin-top: 3px;
  margin-bottom: 12px;
}
.form-part span {
  color: #aaaaaa;
  font-size: 12px;
  font-weight: 400;
}
.part-top {
  display: -webkit-box;
  display: flex;
}
.part-txt h1 {
  color: #333333;
  font-size: 20px;
  font-weight: 700;
}
.part-txt {
  padding-left: 24px;
}
.casino-jackpots .part-content {
  display: block;
  padding: 30px 22px 16px 22px;
}
.part-bottom {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-top: 4px;
}
.part-content .part-bottom h5 {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.33px;
  font-weight: 700;
}
.part-content .part-bottom p {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.33px;
  font-weight: 400;
}
.deposit-methods .part-header {
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.cr-part span {
  color: #f7f7f7;
  font-size: 14px;
  font-weight: 400;
}
.cr-part span:first-child {
  margin-right: 26px;
}
.deposit-wrapper {
  padding: 18px 14px 19px 20px;
  border: 1px solid #e5e5e5;
  background-color: #f3f3f3;
}
.text-span span {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
}
.number span {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
}
.deposit-content {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 22px;
}
.deposit-content:last-child {
  margin-bottom: 0;
}
.deposit-content .img-deposit {
  min-height: 14px;
  max-height: 51px;
}
.deposit-content .read-review {
  cursor: pointer;
  color: #f7f7f7;
  font-size: 14px;
  font-weight: 400;
  background-color: #f08946;
  border: 1px solid #f08946;
  padding: 6.5px 12.5px;
}
.cr-part {
  margin-right: 18px;
}
.deposit-content .text-span {
  width: 90px;
  text-align: center;
}
/* RIGHT SIDE END */
/* *********************************** */
/* FOOTER START */
.footer {
  background-color: #191919;
  padding-top: 62px;
  margin-top: 40px;
}
.footer h5 {
  color: #8f8f8f;
  font-size: 16px;
  font-weight: 400;
}
.footer ul.image-list {
  list-style-type: none;
}
.footer ul.image-list li {
  display: inline-block;
  padding-right: 76px;
  margin-bottom: 26px;
}
.footer ul.image-list li:last-child {
  padding-right: 0;
}
.footer ul.footer-list {
  list-style-type: none;
  text-align: right;
  height: 100%;
  padding: 22px 0;
}
.footer ul.footer-list li {
  display: -webkit-inline-box;
  display: inline-flex;
  padding-right: 25px;
}
.footer ul.footer-list li:last-child {
  padding-right: 0;
}
.footer ul.footer-list li a {
  color: #8f8f8f;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

.about-us p {
  padding-top: 27px;
  padding-bottom: 17px;
  padding-right: 61px;
  color: #4d4d4d;
  font-size: 16px;
  font-weight: 500;
}
.about-us a {
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 500;
}

.footer ul.usefull-links {
  list-style-type: none;
}
.footer ul.usefull-links li a {
  text-decoration: none;
  color: #4d4d4d;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.ul-col {
  display: -webkit-box;
  display: flex;
  margin-top: 17px;
}
.usefull-links:last-child {
  margin-left: 10px;
}
.about-us,
.usefull-links-col,
.footer-searh-box {
  margin-top: 31px;
}
.footer-searh-box,
.header-search-box {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
}
.footer-searh-box input {
  width: 292px;
  height: 39px;
  border: 1px solid #4d4d4d;
  background-color: transparent;
  padding-left: 12px;
}
.header-search-box input {
  background-color: transparent;
  padding-left: 12px;
  width: 308px;
  height: 39px;
  border: 1px solid #d0d0d0;
}
.magnifying-glass {
  width: 39px;
  height: 39px;
  background-color: #777777;
  background-image: url("../images/png/search.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 5px;
}
.header-search-box .magnifying-glass {
  background-color: #f08946;
  margin-left: 2px;
}
.footer-searh-box input::placeholder {
  color: #434343;
  font-size: 16px;
  font-style: italic;
  opacity: 1; /* Firefox */
}

.footer-searh-box input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #434343;
  font-size: 16px;
  font-style: italic;
}

.footer-searh-box input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #434343;
  font-size: 16px;
  font-style: italic;
}
.bootom-part {
  border-top: 1px solid #4d4d4d;
  width: 100%;
  margin-top: 48px;
}
.bootom-part span {
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 500;
}
.bootom-part span a {
  text-decoration: none;
  color: #8f8f8f;
  font-size: 14px;
  font-weight: 500;
}
.footer-social {
  margin-top: 22px;
  margin-left: 79px;
}
.footer-social ul {
  list-style-type: none;
  margin-top: 13px;
}
.footer-social ul li {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #1e1e1f;
  border-radius: 50%;
  text-align: center;
}
.footer-social ul li a img {
  vertical-align: -webkit-baseline-middle;
}
.footer-bottom-list {
  text-align: right;
  padding: 13px 0;
}
.footer-text {
  padding: 25px 0;
}
/* FOOTER END */

/* NEWS START */
.breadcrumb-section {
  width: 100%;
  height: 200px;
  position: relative;
}
.breadcrumb-section img {
  width: 100%;
  height: 100%;
}
.breadcrumb-section ul li + li:before {
  padding: 8px;
  color: #f7f7f7;
  content: "\003E";
}
.breadcrumb-text {
  position: absolute;
  top: 85px;
  left: 19%;
  z-index: 9;
}
.breadcrumb-text h1 {
  color: #f7f7f7;
  font-size: 40px;
  font-weight: 700;
}
.breadcrumb-text ul {
  list-style-type: none;
}
.breadcrumb-text ul li {
  display: inline-block;
}
.breadcrumb-text ul li a {
  color: #9e9d9d;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}
.breadcrumb-text ul li a.active {
  color: #f7f7f7;
}
.categories-news-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.categories-news-header h4 {
  color: #333333;
  font-size: 28px;
  font-weight: 500;
}
.news-item {
  margin-top: 20px;
}
.news-left-side {
  width: 100%;
  height: 100%;
}
.news-left-side img {
  width: 100%;
  height: 100%;
}
.news-info-link a {
  color: #333333;
  padding-right: 0;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 7px;
}
.news-right-side {
  margin-left: 20px;
}
.news-text p {
  padding-right: 11px;
  margin-top: 14px;
}
.badge-news {
  padding: 0;
  width: 46px;
  height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination {
  margin-top: 68px;
  margin-bottom: 29px;
}
ul.pagination-demo {
  list-style-type: none;
}
ul.pagination-demo li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  border: 1px solid #e5e5e5;
  margin-right: 10px;
}
ul.pagination-demo li a {
  color: #333333;
  color: #333333;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 8px 6px 9px;
  line-height: 1.9;
  text-decoration: none;
}
ul.pagination-demo li.previous a img {
  width: 5px;
}
ul.pagination-demo li.next a img {
  width: 5px;
}
ul.pagination-demo li.curent-page {
  background-color: #f08946;
  border-color: #f08946;
}
ul.pagination-demo li.curent-page a {
  color: #fff;
}
